*.sh text eol=lf
*.tcl text eol=lf
*.py text eol=lf
*.v text eol=lf
*.f text eol=lf
*.list text eol=lf
*.json text eol=lf
*.md text eol=lf
Makefile text eol=lf
tools/kdebug text eol=lf
kdebug/kdebug binary
kdebug/help.txt text eol=lf
kdebug/libexec/kdebug-engine text eol=lf
kdebug/libexec/tcl_engine/*.py text eol=lf
kdebug/libexec/tcl_engine/*.tcl text eol=lf
LICENSES/*.txt text eol=lf
